@import "_variables"
@import "_extend"

html, body
  overflow-x: hidden !important

body
  padding-top: 60px
  font-family: "Spoqa Han Sans", sans-serif

#page
  section
    padding: 64px 0

  h2, h3, h4, p, address, dt
    color: color-black

  span
    color: color-grey-400
    font-weight: 300

  h2
    font-size: 40px
    text-align: center
    margin-bottom: 48px
    display: block
    font-weight: 400

  h3
    font-weight: 400

  dt
    font-weight: 400

  dl
    margin: 0

  img
    display: block

  .row
    padding: 0 16px

  .container-fluid
    background-color: #eee
    background-size: cover
    background-position: center;
    text-align: center
    padding: 140px 0

  .btn-white
    @extend $round-white-btn
    width: 240px

  .btn-green
    @extend $round-green-btn
    width: 80%

  .guide
    text-align: center

    img
      margin: auto

    article
      margin-top: 48px;

    p
      min-height: 50px;

.light
  color: white !important
  font-weight: 100 !important
  text-shadow: 0px 0px 4px #333

@import "_partial/header"
@import "_partial/footer"
@import "_partial/index"
@import "_partial/careers"
@import "_partial/products"
@import "_partial/business"
@import "_partial/news"
@import "_partial/brandguide"
@import "_partial/excerpt"
@import "_partial/pagination"
@import "_partial/job"

@import "_partial/mobile"
@import "_partial/highlight"
@import "_partial/article"
