.brandguide

  img
    margin: auto

  em
    color: color-black
    font-style: normal
    font-weight: 700
    display: block
    margin-top: 6px

  h3
    padding: 0 15px
    width: 100%

  .section-title
    text-align: center
    margin-bottom: 60px

  .inner-section
    display: block
    padding: 64px 0 !important
    margin: 0
    @extend $divider-bottom

  .btn-green
    width: 240px !important

.box
  border:1px solid color-grey-200
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;

.logotype
  height: 240px
  padding: 40px

.logo-variation
  height: 160px

  img
    max-width: 240px


.logo-img
  max-height:100%
  max-width:100%

.bg-green
  background-color: color-green-500

.bg-grey
  background-color: color-grey-450

.colorbar
  height: 32px
  margin-top: 24px

  &.green
    background-color: color-green-500

  &.yellow
    background-color: color-yellow-500

.permission
  padding: 0 15px
  margin-top: 60px
