.careers-cover
  @extend $wide
  background-image: url(images/ct_careers.jpg)

.how-we-work .row
  margin-top: 48px

  @media only screen and (max-width : 992px)
    img
      margin: auto
      width: 160px

    @media only screen and (max-width : 992px)
      margin: auto

  .mobile
    @media only screen and (max-width : 768px)
      display: block

    @media only screen and (min-width : 768px)
      display: block

    @media only screen and (min-width : 992px)
      display: none

    @media only screen and (min-width : 1200px)
      display: none

  .pc
    @media only screen and (max-width : 768px)
      display: none

    @media only screen and (min-width : 768px)
      display: none

    @media only screen and (min-width : 992px)
      display: block

    @media only screen and (min-width : 1200px)
      display: block

.benefit
  margin-bottom: 30px

  img
    width: 36px

.position-faq
  text-align: center
  padding-right: 15px
  padding-left: 15px

  p
    margin-top: 16px

  a
    color: color-green-500
    text-decoration: underline

    &:hover
      font-weight: bold
