.news
  @extend $divider-top

  h3
    margin-top: 0

  article
    @extend $divider-bottom
    padding: 24px 16px !important

    a
      width: 100%

      &:hover
        text-decoration: none

  nav
    margin-top: 24px
