#footer
  a, p
    color: color-grey-300;

  .container
    padding: 48px 16px;
    margin: 0 auto;

    @media only screen and (max-width : 768px)
      padding: 0 16px;

  .navbar-right
    margin-right: 0px;
