#footer
  a, p
    color: color-grey-600
    font-weight: 300

  .navbar
    background-color: #eee

  .container
    margin: 0 auto
    padding: 48px 16px

    @media only screen and (max-width : 768px)
      margin: 0;
      padding: 0 16px

  .navbar-text
    color: color-grey-600
