.navbar-brand img
  width: 120px

.navbar-light
  background-color: color-white
  border-bottom-style: solid
  border-bottom-color: color-grey-200
  border-bottom-width:1px

.navbar .container
  @media (max-width: 576px)
    width: 100%

.nav-link
  margin: 0 1em

  @media (max-width: 992px)
    margin: 0

.navbar-toggler-right
  right: 0
