#main .index
  & > div
    padding: 0 16px;

  h2, h3, p
    color: color-grey-300;

  h2
    margin-bottom: 24px;

  section
    margin-top: 128px;

  figcaption
    margin-top: 16px;

  dl
    margin: 0 16px;
    overflow: hidden;

    dt
      float: left;

    dd
      margin-left: 72px;

  .vision
    font-size: 36px;
    margin: 96px 0;
    text-align: center;

  .team
    & > h3
      margin: 64px 0 32px;

    & > p
      font-size: 24px;
      margin-top: 24px;

    & > div.row
      padding-top: 16px;

  .profile
    padding: 16px 16
    padding-right: 16px;
