.news
  @extend $divider-top

  a
    width: 100%

    &:hover
      text-decoration: none

  h3
    margin-top: 0

  article
    @extend $divider-bottom
    padding: 24px 16px !important

  nav
    margin-top: 24px
