.products
  article
    @extend $divider-bottom
    padding-bottom: 36px
    margin-bottom: 36px

    &:nth-last-child(1)
      border-bottom: none
      margin-bottom: 0
      padding-bottom: 0

  figure
    margin-bottom: 0
