<section class="container brandguide bottom-divider">
  <div class="section-title">
    <h2>브랜드 가이드라인</h2>
      <a class="btn btn-default btn-green" href="https://goo.gl/mh6fNM" role="button" target="_blank">로고 다운로드</a>
  </div>
  <div class="row">
    <div class="col-md-12 brand-desc">
      <h4>클래스팅 로고는 두가지 타입이 있습니다.</h4>
    </div>
    <div class="col-md-8 brand-desc">
      <div class="box logotype">
        <img alt="classting_logotype_large" src="/images/classting_logo_large.png" class="img-fluid logo-img" alt="Responsive image" />
      </div>
      <dl>
        <dt>Logotype</dt>
        <dd>가장 많이 사용합니다.</dd>
      </dl>
    </div>
    <div class="col-md-4 brand-desc">
      <div class="box logotype">
        <img alt="classting_glyph" src="/images/classting_app_icon_512.png" class="img-fluid logo-img" alt="Responsive image" />
      </div>
      <dl>
        <dt>Glyph</dt>
        <dd>공간이 부족한 UI에서 사용합니다.</dd>
      </dl>
    </div>
  </div>
</section>
<section class="container brandguide">
  <div class="row">
    <div class="col-md-3 brand-desc">
      <h4>Logo Colors</h4>
    </div>
    <div class="col-md-9 pc brand-desc">
      <h4>Variations</h4>
    </div>
    <div class="col-lg brand-desc">
      <div id="colorbar-green"></div>
      <dl>
        <dt>Classting Green</dt>
        <dd>
          HEX #0abcad
          <br>
          CMYK 68/00/40/0
        </dd>
      </dl>
      <div id="colorbar-yellow"></div>
      <dl>
        <dt>Classting Yellow</dt>
        <dd>
          HEX #fff988
          <br>
          CMYK 0/0/60/0
        </dd>
      </dl>
    </div>
    <div class="col-md-9 mobile brand-desc">
      <h4>Variations</h4>
    </div>
    <div class="col-lg brand-desc">
      <div class="box logo-variation">
        <img alt="ct_logo_green" src="/images/classting_logo.png" class="img-fluid" alt="Responsive image" />
      </div>
      <dl>
        <dt>Classting Green</dt>
        <dd>백색 배경에 이용하세요.</dd>
      </dl>
    </div>
    <div class="col-lg brand-desc">
      <div class="box logo-variation bg-green">
        <img alt="ct_logo_yellow" src="/images/classting_logo_yellow.png" class="img-fluid" alt="Responsive image" />
      </div>
      <dl>
        <dt>Classting Yellow</dt>
        <dd>CT Green 색상 혹은 어두운 색상의 배경에 이용하세요.</dd>
      </dl>
    </div>
    <div class="col-lg brand-desc">
      <div class="box logo-variation bg-grey">
        <img alt="ct_logo_white" src="/images/classting_logo_white.png" class="img-fluid" alt="Responsive image" />
      </div>
      <dl>
        <dt>White</dt>
        <dd>배경이 어두운 경우 혹은 사진 배경에 이용하세요.</dd>
      </dl>
    </div>
    <div class="col-md-12 usage">
        <p>로고 형태, 색상 등 모든 경우의 수정을 할 생각도 하지 않으셔서 감사드립니다.</p>
    </div>
  </div>
</section>
