<section class="container brandguide">
  <div class="section-title">
    <h2>브랜드 가이드라인</h2>
      <a class="btn btn-default btn-green" href="https://goo.gl/mh6fNM" role="button" target="_blank">로고 다운로드</a>
  </div>
  <div class="inner-section">
    <h3>클래스팅 로고</h3>
    <div class="row">
      <div class="col-md-8">
        <div class="box logotype">
          <img alt="classting_logotype_large" src="/images/classting_logo_large.png" class="img-fluid logo-img" alt="Responsive image" />
        </div>
        <em>Logotype</em>
        <span>가장 많이 사용합니다.</span>
      </div>
      <div class="col-md-4">
        <div class="box logotype">
          <img alt="classting_glyph" src="/images/classting_app_icon_512.png" class="img-fluid logo-img" alt="Responsive image" />
        </div>
        <em>Glyph</em>
        <span>공간이 부족한 UI에서 사용합니다.</span>
      </div>
    </div>
  </div>
  <div class="inner-section">
    <h3>로고타입 가이드</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="box logo-variation">
          <img alt="ct_logo_green" src="/images/classting_logo.png" class="img-fluid" alt="Responsive image" />
        </div>
        <em>Classting Green</em>
        <span>백색 배경에 이용하세요.</span>
      </div>
      <div class="col-md-4">
        <div class="box logo-variation bg-green">
          <img alt="ct_logo_yellow" src="/images/classting_logo_yellow.png" class="img-fluid" alt="Responsive image" />
        </div>
        <em>Classting Yellow</em>
        <span>CT Green 색상 혹은 어두운 색상의 배경에 이용하세요.</span>
        </dl>
      </div>
      <div class="col-md-4">
        <div class="box logo-variation bg-grey">
          <img alt="ct_logo_white" src="/images/classting_logo_white.png" class="img-fluid" alt="Responsive image" />
        </div>
        <em>White</em>
        <span>배경이 어두운 경우 혹은 사진 배경에 이용하세요.</span>
      </div>
    </div>
  </div>
  <div class="inner-section">
    <h3>브랜드 컬러</h3>
    <div class="row">
      <div class="col-md-4">
        <div id="colorbar-green"></div>
        <em>Classting Green</em>
        <span>
          HEX #0abcad
          <br>
          CMYK 68/00/40/0
        </span>
      </div>
      <div class="col-md-4">
        <div id="colorbar-yellow"></div>
        <em>Classting Yellow</em>
        <span>
          HEX #fff988
          <br>
          CMYK 0/0/60/0
        </span>
      </div>
    </div>
  </div>
  <div class="permission">
    <p>로고 형태, 색상 등 모든 경우의 수정을 할 생각도 하지 않으셔서 감사드립니다.</p>
  </div>
</section>
