<section class="container-fluid wide">
  <div class="container">
    <p>
      클래스팅은 학교 - 가정 - 교육회사를 연결하고
      <br />
      교육 정보 비대칭을 해소하고자 합니다.
    </p>

    <a class="btn btn-default btn-white" href="#" role="button">소개 자료 보기</a>
  </div>
</section>

<section class="container guide">
  <h2>Business with Classting</h2>

  <div class="row">
    <article class="col-lg">
      <figure>
        <img alt="Stats" src="http://placehold.it/360x360" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3>교육 컨텐츠</h3>
      <p>문제집, 참고서, 동영상 등 다양한 유형의 교육 컨텐츠를 클래스팅 고객과 연결합니다.</p>
      <a class="btn btn-default btn-green" href="#" role="button">소개자료 보기</a>
    </article>
    <article class="col-lg">
      <figure>
        <img alt="Stats" src="http://placehold.it/360x360" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3>교육 상품, 브랜드, 정보</h3>
      <p>교육 회사의 좋은 상품, 브랜드, 정보를 맞춤식으로 고객에게 연결합니다.</p>
      <a class="btn btn-default btn-green" href="#" role="button">소개자료 보기</a>
    </article>
    <article class="col-lg">
      <figure>
        <img alt="Stats" src="http://placehold.it/360x360" class="img-fluid" alt="Responsive image" />
      </figure>
      <h3>교육 앱, 서비스</h3>
      <p>클래스팅의 API를 이용하여 편리하고 풍성한 교육 서비스를 만들어보세요.</p>
      <a class="btn btn-default btn-green" href="#" role="button">개발자 페이지로 이동</a>
    </article>
  </div>
</section>

<section class="container-fluid business-partnerships">
  <h2>Business Partnerships</h2>

  <figure class="container">
    <img alt="Stats" src="http://placehold.it/720x500" class="img-fluid" alt="Responsive image" />
  </figure>
</section>
