<section class="container-fluid careers-cover">
  <div class="container">
    <p class="light">
      더 나은 교육 환경을
      <br />
      함께 만들어 갈 팀원을 찾습니다.
    </p>

    <a class="btn btn-default btn-white" href="#opening" role="button">Job Openings</a>
  </div>
</section>

<section class="container how-we-work">
  <h2>How we work</h2>

  <div class="row justify-content-center">
    <figure class="col-lg-3">
      <img alt="how-we-work-1" src="/images/how-we-work-1.png" class="img-fluid" alt="Responsive image" />
    </figure>
    <article class="col-lg-6 col-lg-6">
      <h3>교사, 학생, 학부모의 목소리에 귀 기울입니다.</h3>
      <p>
        정성을 담아 아이디어 공유해주시는 선생님, 솔직한 댓글 달아주는 학생,
        시간내어 전화문의 해주 시는 학부모님의 의견을 항상 들으며 어떤 필요가 있는지,
        어떤 생각을 하는지 알게됩니다. 고객의 목소리로 우리가 앞으로 갈 방향을 알게 됩니다.
      </p>
    </article>
  </div>
  <div class="row justify-content-center">
    <figure class="col-lg-3 mobile">
      <img alt="how-we-work-2" src="/images/how-we-work-2.png" class="img-fluid" alt="Responsive image" />
    </figure>
    <article class="col-lg-6 col-lg-6">
      <h3>고객에게 중요한 것을 위해 일합니다.</h3>
      <p>
        클래스팅에서는 최단 시간에 고객에게 중요한 것이 무엇인지 찾기 위해
        Agile process, Design sprint 등을 통해 학습하고 제품을 발전시켜 갑니다.
        매일 교실 혹은 집에서 서로 소통하고 학습 할 수 있도록 항상 기대에 부응하는
        제품을 만들기 위해 일합니다.
      </p>
    </article>
    <figure class="col-lg-3 pc">
      <img alt="how-we-work-2" src="/images/how-we-work-2.png" class="img-fluid" alt="Responsive image" />
    </figure>
  </div>
  <div class="row justify-content-center">
    <figure class="col-lg-3">
      <img alt="how-we-work-3" src="/images/how-we-work-3.png" class="img-fluid" alt="Responsive image" />
    </figure>
    <article class="col-lg-6 col-lg-6">
      <h3>글로벌 교육 리더들과 함께 일합니다.</h3>
      <p>
        클래스팅 교사 자문단, 미국 교육평가 연구소, 서울교육대학교 등 글로벌 교육 리더들과
        함께 다 양한 연구에 참여하고 있습니다. 클래스팅을 통한 교육적 효과를 측정하고
        앞으로 교육이 발전해야하는 방향을 같이 고민합니다.
      </p>
    </article>
  </div>
  <div class="row justify-content-center">
    <figure class="col-lg-3 mobile">
      <img alt="how-we-work-4" src="/images/how-we-work-4.png" class="img-fluid" alt="Responsive image" />
    </figure>
    <article class="col-lg-6 col-lg-6">
      <h3>형식보다 성과를 중요시합니다.</h3>
      <p>
        형식적인 업무 시간, 경력 등 보다는 성과로 평가하여 모든 팀원이 좋은 성과를
        내는데 집중할 수 있는 업무환경을 추구합니다. 각 팀원이 최고의 성과를 낼 수 있도록
        유연하고 자유로운 업무 환경을 제공하고 있습니다.
      </p>
    </article>
    <figure class="col-lg-3 pc">
      <img alt="how-we-work-4" src="/images/how-we-work-4.png" class="img-fluid" alt="Responsive image" />
    </figure>
  </div>
  <div class="row justify-content-center">
    <figure class="col-lg-3">
      <img alt="how-we-work-5" src="/images/how-we-work-5.png" class="img-fluid" alt="Responsive image" />
    </figure>
    <article class="col-lg-6 col-lg-6">
      <h3>팀원들이 같이 성장할 수 있도록 서로 이끕니다.</h3>
      <p>
        반복적인 업무로 전문성을 기르는 것도 중요하지만 항상 새로운 것을 배우고
        성장할 수 있도록 팀원들이 서로 이끕니다. 도전적인 프로젝트를 참여하거나
        그룹 스터디를 하면서 같이 성장할 수 있는 기회가 항상 열려있습니다.
      </p>
    </article>
</div>
</section>

<section class="container">
  <h2>Office & Benefits</h2>

  <div class="row">
    <div class="col-md benefit">
      <div class="row">
        <figure class="col-lg-2 col-md-3 col-sm-2">
          <img src="/images/icon-careers-ob-1.png" alt="profile" class="img-circle">
        </figure>
        <div class="col-md-8 col-sm-8 benefit-desc">
          <h4>식비 지원</h4>
          <p>
            밥 걱정 안해도 됩니다. 점심, 저녁 그리고 퀄리티 높은 간식을 지원합니다.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md benefit">
      <div class="row">
        <figure class="col-lg-2 col-md-3 col-sm-2">
          <img src="/images/icon-careers-ob-2.png" alt="profile" class="img-circle">
        </figure>
        <div class="col-md-8 col-sm-8 benefit-desc">
          <h4>자율 출퇴근, 원격 업무 가능</h4>
          <p>
            자율 출퇴근, 원격업무, 자유로운 휴가로 최고의 퍼포먼스를 낼 수 있는 최적화된 근무 환경을 제공합니다.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md benefit">
      <div class="row">
        <figure class="col-lg-2 col-md-3 col-sm-2">
          <img src="/images/icon-careers-ob-3.png" alt="profile" class="img-circle">
        </figure>
        <div class="col-md-8 col-sm-8 benefit-desc">
          <h4>경쟁력 있는 근로 조건</h4>
          <p>
            역량에 맞는 연봉 및 스톡옵션을 제공합니다. 4대보험은 당연히 제공합니다.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md benefit">
      <div class="row">
        <figure class="col-lg-2 col-md-3 col-sm-2">
          <img src="/images/icon-careers-ob-4.png" alt="profile" class="img-circle">
        </figure>
        <div class="col-md-8 col-sm-8 benefit-desc">
          <h4>자기계발비 지원</h4>
          <p>
            업무에 필요한 IT기기 구입비와 컨퍼런스 참가비, 도서 구입 등을 모두 지원합니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container" id="opening">
  <h2>Openings</h2>
  <div class="find-members">
    <%- partial('_partial/job', { posts: site.categories.findOne({name: 'job'}).posts.find({lang : page.lang}) }) %>
  </div>

  <div class="position-faq">
    <h3>혹시 찾고 계신 채용 포지션이 아직 없나요?</h3>
    <p>
      휼룡한 인재에게는 항상 문이 열려있습니다.
      <br />
      <a href="mailto:withus@classting.com">withus@classting.com</a>으로
      연락주시면 추후 공고 게재 시 우선적으로 검토하겠습니다.
    </p>
  </div>
</section>
