<div class="row index">
  <div class="col-md-8 col-md-offset-2">

    <p class="vision">
      클래스팅은 한 명의 교사가 많은 학생에게
      <br/>
      최고의 교육을 제공할 수 있게 합니다.
    </p>

    <section>
      <h2>Stats</h2>
      <figure>
        <img alt="Stats" src="http://placehold.it/1024x240" class="img-responsive" alt="Responsive image" />
      </figure>
    </section>

    <section>
      <h2>Our Culture</h2>
      <figure>
        <img alt="Out Culture" src="http://placehold.it/1024x240" class="img-responsive" alt="Responsive image" />
        <figcaption>클래스팅에서는 최고의 성과를 위해 자유로운 문화를 만듭니다. 불필요한 형식보다는 맡은 업무에 집중할 수 있도록 성과 집중형 업무 태도를 장려합니다. 개개인이 책임감을 갖고 성과를 낼 것이라는 신뢰를 기반으로 자유로운 업무 환경을 유지합니다. 그리고 눈치 보기보다는 누구나 참여할 수 있는 소통의 자리를 만듭니다. 어느 회의에서든 의견을 자유롭게 할 수 있는 문화를 통해 모두가 충분한 정보를 얻고 문제를 해결할 수 있게 합니다. 더 나은 교육 환경을 만들기 위한 목표를 향해 탁월한 능력과 팀웍이 공존하는 클래스팅을 함께 만들어가고 있습니다.</figcatpion>
      </figure>
    </section>

    <section class="team">
      <h2>Team</h2>
      <p>교사 출신 대표를 중심으로 다양한 분야의 팀원들이 모였습니다. 편리한 서비스, 획기적인 기술력으로 한 걸음씩 전 세계 교육 환경에 변화를 가져오려는 원대한 꿈을 향해 전진하고 있습니다.</p>

      <h3>Leadership</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 col-sm-3">
              <img src="http://placehold.it/120x120" alt="profile" class="img-circle">
            </div>
            <div class="col-md-7 col-sm-9 profile">
              <h3>Dave Cho</h3>
              <span>Cheif Executive Officer</span>
              <p>전 초등교사였던 조현구는 2013년에 클래스팅을 설립했습니다. 서울교대 컴퓨터교육 석사과정 중 교실에서 학생들이 즐겁게 배울 수 있는 방법을 연구 중 클래스팅을 직접 개발하게 되었습니다.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 col-sm-3">
              <img src="http://placehold.it/120x120" alt="profile" class="img-circle">
            </div>
            <div class="col-md-7 col-sm-9 profile">
              <h3>Jayden Yoo</h3>
              <span>Cheif Technology Officer</span>
              <p>공동창업자인 유재상은 클래스팅의 CTO로 서비스 구축 및 엔지니어링 팀을 총괄합니다. 전 ETRI 연구원이었고 KAIST 전산학 석사 학위를 취득하였습니다.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 col-sm-3">
              <img src="http://placehold.it/120x120" alt="profile" class="img-circle">
            </div>
            <div class="col-md-7 col-sm-9 profile">
              <h3>Calvin Kang</h3>
              <span>Cheif Strategy Officer</span>
              <p>캘빈은 클래스팅의 CSO로 비지니스 전략 및 운영을 총괄합니다. 전 우버코리아 대표였고 INSEAD MBA과정을 이수하였습니다.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 col-sm-3">
              <img src="http://placehold.it/120x120" alt="profile" class="img-circle">
            </div>
            <div class="col-md-7 col-sm-9 profile">
              <h3>Daniel Kim</h3>
              <span>Cheif Information Officer</span>
              <p>김정훈은 클래스팅의 CIO로 데이터 및 인프라 시스템을 담당합니다. 클래스팅에 합류하기 전에는 삼성전자 DMC연구소에서 VD apps 서버 설계 및 운영을 담당했습니다.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2>Investors</h2>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <figure>
            <img alt="Investor" src="http://placehold.it/240x240" class="img-responsive" alt="Responsive image">
          </figure>
        </div>
        <div class="col-md-4 col-sm-4">
          <figure>
            <img alt="Investor" src="http://placehold.it/240x240" class="img-responsive" alt="Responsive image">
          </figure>
        </div>
        <div class="col-md-4 col-sm-4">
          <figure>
            <img alt="Investor" src="http://placehold.it/240x240" class="img-responsive" alt="Responsive image">
          </figure>
        </div>
      </div>
    </section>

    <section>
      <h2>Office</h2>

      <div class="row">
        <div class="col-md-6">
          <figure>
            <img alt="office" src="http://placehold.it/360x360" class="img-responsive" alt="Responsive image">
          </figure>
        </div>
        <div class="col-md-6">
          <h4>한국 본사</h4>

        </div>
      </div>
    </section>

    <section>
      <h2>Contact</h2>

      <dl>
        <dt>일반문의</dt>
        <dd><a href="mailto:support@classting.com" target="_top">support@classting.com</a></dd>
        <dt>채용문의</dt>
        <dd><a href="mailto:withus@classting.com" target="_top">withus@classting.com</a></dd>
        <dt>대표번호</dt>
        <dd><a href="tel:+8215440570" target="_top">1544-0570</a></dd>
        <dt>팩스</dt>
        <dd><a href="fax:07088824886" target="_top">070-8882-4886</a></dd>
    </section>
  </div>
</div>
