<section class="container-fluid wide">
  <div class="container">
    <p>
      클래스팅은 한 명의 교사가
      <br/>
      많은 수의 학생을 가르쳐야하는 상황에서도
      <br />
      최고의 교육을 제공할 수 있게 돕습니다.
    </p>
  </div>
</section>

<section class="container stats">
  <h2>Stats</h2>
  <span>as of March 31, 2017(Google Analytics)</span>
  <figure>
    <img alt="Stats" src="http://placehold.it/1024x240" class="img-responsive" alt="Responsive image" />
  </figure>
</section>

<section class="culture">
  <div class="container-fluid wrap">
    <div class="container">
      <h2>클래스팅의 문화</h2>
      <p class="description">
        클래스팅에서는 최고의 성과를 내기 위해 자유로운 문화를 만듭니다.
        <br />
        불필요한 형식보다는 맡은 업무에 집중 할 수 있도록 성과 집중형 업무 태도를 장려합니다.</p>
    </div>
  </div>

  <p class="container description">
    개개인이 책임감을 갖고 최고의 성과를 낼 것이라는 신뢰를 기반으로
    자유로운 업무 환경이 유지됩니다. 그리고 눈치 보기보다는 누구나 참여할 수 있는
    소통의 자리를 만듭니다. 어느 회의에서든 의견을 자유롭게 할 수 있는 문화를 통해
    모두가 충분한 정보를 얻고 문제를 해결할 수 있게 합니다.
    더 나은 교육 환경을 만들기 위한 목표를 향해 탁월한 능력과 팀웍이 공존하는
    클래스팅을 함께 만들어가고 있습니다.
  </p>
</section>

<section class="container readership">
  <h2>리더십</h2>
  <p class="description">
    교사 출신 대표를 중심으로 다양한 분야의 팀원들이 모였습니다.
    <br />
    편리한 서비스, 획기적인 기술력으로 한 걸음씩
    <br />
    전 세계 교육 환경에 변화를 가져오려는 원대한 꿈을 향해 전진하고 있습니다.
  </p>

  <div class="row">
    <div class="col-md-6 profile">
      <figure>
        <img src="http://placehold.it/120x120" alt="profile" class="img-circle">
      </figure>
      <div class="col-md-8">
        <h3>Dave Cho</h3>
        <span>Cheif Executive Officer</span>
        <p>
          전 초등교사였던 조현구는 2013년에 클래스팅을 설립했습니다.
          서울교대 컴퓨터교육 석사과정 중 교실에서 학생들이 즐겁게 배울 수 있는
          방법을 연구 중 클래스팅을 직접 개발하게 되었습니다.
        </p>
      </div>
    </div>
    <div class="col-md-6 profile">
      <figure>
        <img src="http://placehold.it/120x120" alt="profile" class="img-circle">
      </figure>
      <div class="col-md-8">
        <h3>Jayden Yoo</h3>
        <span>Cheif Technology Officer</span>
        <p>
          공동창업자인 유재상은 클래스팅의 CTO로 서비스 구축 및 엔지니어링 팀을
          총괄합니다. 전 ETRI 연구원이었고 KAIST 전산학 석사 학위를 취득하였습니다.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 profile">
      <figure>
        <img src="http://placehold.it/120x120" alt="profile" class="img-circle">
      </figure>
      <div class="col-md-8">
        <h3>Calvin Kang</h3>
        <span>Cheif Strategy Officer</span>
        <p>
          캘빈은 클래스팅의 CSO로 비지니스 전략 및 운영을 총괄합니다.
          전 우버코리아 대표였고 INSEAD MBA과정을 이수하였습니다.
        </p>
      </div>
    </div>
    <div class="col-md-6 profile">
      <figure>
        <img src="http://placehold.it/120x120" alt="profile" class="img-circle">
      </figure>
      <div class="col-md-8">
        <h3>Daniel Kim</h3>
        <span>Cheif Information Officer</span>
        <p>
          김정훈은 클래스팅의 CIO로 데이터 및 인프라 시스템을 담당합니다.
          클래스팅에 합류하기 전에는 삼성전자 DMC연구소에서 VD apps 서버 설계
          및 운영을 담당했습니다.
        </p>
      </div>
    </div>
  </div>

  <div class="inner-section">
    <h3>Advisors</h3>

    <div class="row">
      <dl class="col-md-4 profile">
        <dt>문규학</dt>
        <dd>Softbank Ventures CEO</dd>
      </dl>
      <dl class="col-md-4 profile">
        <dt>김경성</dt>
        <dd>서울교육대학교 총장</dd>
      </dl>
      <dl class="col-md-4 profile">
        <dt>Li Cai</dt>
        <dd>
          UCLA CRESST 연구소장
          <br />
          (미국 교육평가연구소)
        </dd>
      </dl>
    </div>
  </div>
</section>

<section class="container investors">
  <h2>Investors</h2>
  <div class="row">
    <div class="col-md-4 col-sm-4 investor">
      <figure>
        <img alt="Softbank Ventures" src="http://placehold.it/240x240" class="img-responsive" alt="Responsive image">
      </figure>
    </div>
    <div class="col-md-4 col-sm-4 investor">
      <figure>
        <img alt="Partners Investment" src="http://placehold.it/240x240" class="img-responsive" alt="Responsive image">
      </figure>
    </div>
    <div class="col-md-4 col-sm-4 investor">
      <figure>
        <img alt="Samsung Venture Investment" src="http://placehold.it/240x240" class="img-responsive" alt="Responsive image">
      </figure>
    </div>
  </div>
</section>

<section class="container location">
  <h2>Office</h2>

  <div class="row">
    <div class="col-md-6 map">
      <figure>
        <img alt="office" src="http://placehold.it/640x640" class="img-responsive" alt="Responsive image">
      </figure>
    </div>
    <div class="col-md-6">
      <div class="address">
        <h3>한국 본사</h3>

        <address>
          서울특별시 강남구 압구정로10길 21, 3층, (주)클래스팅
          <br />
          (신사동, 533-1)
          <br />
          우편번호 06028
          <span>주차:</span>
          인근 마사빌딩 주차장 이용(서울특별시 강남구 압구정로10길 13
        </address>

        <address>
          미국 법인
          <br />
          Classting America, Inc 3530 Wilshire Boulevard Suite 210, Los Angeles, Ca 90010
        </address>

        <address>
          중국 법인
          <br />
          Shanghai Classtong Network Technologies Co., LTD. 1/F Building 2, 81 Fu Te Reload North, Wai Gao Qiao Free Trade Zone, Shanghai
        </address>

        <address>
          일본 법인
          <br />
          Classting Japan, Inc. Keio Fujisawa Innovation Village (SFC-IV), 4489-105 Endo, Fujisawa-city, Kanagawa-prefecture, Tokyo, #252-0816
        </address>
      </div>
    </div>
  </div>

  <div class="inner-section">
    <h3>Contact</h3>

    <div class="row">
      <dl class="col-md-4 profile">
        <dt>일반문의</dt>
        <dd><a href="mailto:support@classting.com" target="_top">support@classting.com</a></dd>
      </dl>
      <dl class="col-md-4 profile">
        <dt>채용문의</dt>
        <dd><a href="mailto:withus@classting.com" target="_top">withus@classting.com</a></dd>
      </dl>
      <dl class="col-md-4 profile">
        <dt>대표번호</dt>
        <dd><a href="tel:+8215440570" target="_top">1544-0570</a></dd>
      </dl>
      <dl class="col-md-4 profile">
        <dt>팩스</dt>
        <dd><a href="fax:07088824886" target="_top">070-8882-4886</a></dd>
      </dl>
    </div>
  </div>
</section>
