<section class="container-fluid wide">
  <div class="container">
    <p>
      클래스팅은 학습자에게
      <br />
      와 닿는 배움을 제공하는 서비스를
      <br />
      개발하는 회사입니다.
    </p>
  </div>
</section>

<section class="container products">
  <h2>Classting Products</h2>

  <article>
    <div class="row">
      <figure class="col-md-6 col-sm-6">
        <img alt="Stats" src="http://placehold.it/640x320" class="img-responsive" alt="Responsive image" />
      </figure>
      <div class="col-md-6 col-sm-6">
        <h3>Class</h3>
        <p>교사를 중심으로 학생, 학부모와 활동할 수 있는 공간입니다. 공지, 게시글, 사진, 영상 콘텐츠를 공유하고 학급을 관리할 수 있습니다.</p>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <figure class="col-md-6 col-sm-6">
        <img alt="Stats" src="http://placehold.it/640x320" class="img-responsive" alt="Responsive image" />
      </figure>
      <div class="col-md-6 col-sm-6">
        <h3>Class</h3>
        <p>교사를 중심으로 학생, 학부모와 활동할 수 있는 공간입니다. 공지, 게시글, 사진, 영상 콘텐츠를 공유하고 학급을 관리할 수 있습니다.</p>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <figure class="col-md-6 col-sm-6">
        <img alt="Stats" src="http://placehold.it/640x320" class="img-responsive" alt="Responsive image" />
      </figure>
      <div class="col-md-6 col-sm-6">
        <h3>Class</h3>
        <p>교사를 중심으로 학생, 학부모와 활동할 수 있는 공간입니다. 공지, 게시글, 사진, 영상 콘텐츠를 공유하고 학급을 관리할 수 있습니다.</p>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <figure class="col-md-6 col-sm-6">
        <img alt="Stats" src="http://placehold.it/640x320" class="img-responsive" alt="Responsive image" />
      </figure>
      <div class="col-md-6 col-sm-6">
        <h3>Class</h3>
        <p>교사를 중심으로 학생, 학부모와 활동할 수 있는 공간입니다. 공지, 게시글, 사진, 영상 콘텐츠를 공유하고 학급을 관리할 수 있습니다.</p>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <figure class="col-md-6 col-sm-6">
        <img alt="Stats" src="http://placehold.it/640x320" class="img-responsive" alt="Responsive image" />
      </figure>
      <div class="col-md-6 col-sm-6">
        <h3>Class</h3>
        <p>교사를 중심으로 학생, 학부모와 활동할 수 있는 공간입니다. 공지, 게시글, 사진, 영상 콘텐츠를 공유하고 학급을 관리할 수 있습니다.</p>
      </div>
    </div>
  </article>
</section>
