<section class="container-fluid products-cover">
  <div class="container">
    <p class="light">
      고객이 공감하고 손쉽게 사용할 수 있는
      <br />
      제품을 만듭니다.
    </p>
  </div>
</section>

<section class="container products">
  <h2>Products</h2>

  <article>
    <div class="row">
      <figure class="col-md-7">
        <img alt="Class" src="/images/product-class.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md product-desc">
        <h3>클래스</h3>
        <p>교사를 중심으로 학생, 학부모와 활동할 수 있는 공간입니다. 공지, 게시글, 사진, 영상 콘텐츠를 공유하고 학급을 관리할 수 있습니다.</p>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <figure class="col-md-7">
        <img alt="Noticeboard" src="/images/product-noticeboard.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md product-desc">
        <h3>학급공지</h3>
        <p>교사가 학생, 학부모에게 전달할 공지를 PC, 스마트폰, SMS로 빠짐없지 전달할 수 있습니다. 공지 예약해 보내고, 아직 확인 안한 사람에게 다시 보낼 수 있습니다.</p>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <figure class="col-md-7">
        <img alt="Newsfeed" src="/images/product-newsfeed.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md product-desc">
        <h3>소식</h3>
        <p>우리 반 새로운 소식, 온라인 커뮤니티의 최근 활동 등 최신 소식을 한번에 확인할 수 있습니다. 게시글빛내기를 누르거나 답글을 달 수 있습니다.</p>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <figure class="col-md-7">
        <img alt="School" src="/images/product-school.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md product-desc">
        <h3>스쿨</h3>
        <p>내 학교에 개설된 클래스를 확인하고, 가정통신문, 학교 공지, 급식 정보를 구독해 받아볼 수 있습니다.</p>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <figure class="col-md-7">
        <img alt="Learningcard" src="/images/product-lc.jpg" class="img-fluid" alt="Responsive image" />
      </figure>
      <div class="col-md product-desc">
        <h3>러닝카드</h3>
        <p>내 스마트기기 하나로 영어, 수학, 과학 등 다양한 과목의 교육 콘텐츠로 학습할 수 있습니다. 매일 추천되는 콘텐츠로 효율적인 공부를 할 수 있습니다.</p>
      </div>
    </div>
  </article>
</section>
