<footer id="footer">
  <nav class="navbar navbar-toggleable-sm">
    <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" <a href="https://www.classting.com" target="_blank"><%- __('footer.classting') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.learningcard.com" target="_blank"><%- __('footer.lc') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://developers.classting.net" target="_blank"><%- __('footer.developers') %></a>
        </li>
      </ul>

      <span class="navbar-text"><%- __('footer.classting_inc') %></span>
    </div>
  </div>
</footer>
