<footer id="footer">
  <nav class="navbar navbar-toggleable-md">
    <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" <a href="https://www.classting.com">Classting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.learningcard.com">Learning Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Developers</a>
        </li>
      </ul>

      <span class="navbar-text">
        주식회사 클래스팅
      </span>
    </div>
  </div>
</footer>
