<footer id="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
        <li role="presentation"><a href="#" class="navbar-link">Classting</a></li>
        <li role="presentation"><a href="#" class="navbar-link">Learning Card</a></li>
        <li role="presentation"><a href="#" class="navbar-link">Developers</a></li>
      </ul>

      <p class="nav navbar-text navbar-right">주식회사 클래스팅</p>
    </div>
  </nav>
</footer>
