<% posts.each(function(post) { %>
  <article>
    <a href="<%- post.link %>" target="_blank">
      <h4><%- post.title %></h4>
      <span><%- post.publisher %></span>

      <i class="icon fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </article>
<% }) %>
